#helloImg{
    width: 20px;
    height: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
 text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

#signup, #login{
    color: #3d1112;
    background-color: burlywood;
}
#signUbtn{
    background-color: #3d1112;
    width: 300px;
}
input::-webkit-input-placeholder {
color: #3d1112 !important;
}
 

#gplus{
    margin-right: 10px;

}

#stockInput{
    width: 400px;
}
div #searchbarr{
    margin-top: 10px;
    margin-left: 80px;
}

#create-btn{
    background-color: #3d1112 ;
    color: white;
    
}
.navbar{
    background-color: coral;
    
}
div #searchinpt{
    width: 150px;
}

#loginForm{
    margin-top: 100px;
    margin-bottom: 250px;
}
#signUpForm{
    margin-top: 100px;
    margin-bottom: 200px;
}
.jumbotron p{
    color:white;
}
h2,h3{
    color: whitesmoke;
}
#readSummary {
    text-align: center;
}
#hello{
    font-size: x-large;
    color: wheat;
    
}
#navitem{
    font-size: medium;
}

#searchbarr{
    margin-top: 1px;
    
}
#loginbtn{
  background-color: #337ab7;
    width: 300px;
}
#createbtn{
     background-color: #5cb85c;
    width: 300px;
}
#searchinput{
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#searchbtn{
    height: 32px;
}
   
    /* ================================================ sign in style=========== */
    

    body {
  background-color:lightgoldenrodyellow;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*==================footer style  =================*/
.footer-distributed{
	background-color: #3d1112;
	box-shadow: 0 1px 1px 0 #3d1112;
	box-sizing: border-box;
	
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  wheat;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  wheat;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  burlywood;
	color: #3d1112;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  wheat;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  burlywood;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  burlywood;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  burlywood;
	border-radius: 2px;

	font-size: 20px;
	color: #3d1112;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

